.actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #008080;
    border: 1px solid #008080;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions button:hover {
    background-color: #008080;
    border-color: #008080;
}